spring:
  datasource:
    name: master
    driver-class-name: oracle.jdbc.OracleDriver
    url:  jdbc:oracle:thin:@192.168.34.120:1521:orcl
    username: ly_ky
    password: ly_ky

mybatis-plus:
  mapper-locations: classpath:/mapper/**/*Mapper.xml
  typeAliasesPackage: com.atguigu.springboot.entity
  global-config:
    #驼峰下划线转换
    db-config:
      id-type: UUID
    banner: false
    #逻辑删除配置
  #      logic-delete-field: flag
  #      logic-delete-value: 0
  #      logic-not-delete-value: 1
  configuration:
    map-underscore-to-camel-case: true
    cache-enabled: false
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl